[user]
    name = Owen Voke
    email = owzie123@gmail.com
    signingkey = D8993327B12E5FBF1F3EB6B9B6A92A86D7A46D64

[github]
    user = pxgamer

[commit]
    gpgSign = true
    template = ~/.git-commit-template

[tag]
    forceSignAnnotated = true
    gpgSign = true

[core]
    autocrlf = input
    editor = nano
    excludesFile = ~/.gitignore-global

[rebase]
    abbreviateCommands = true
    autoStash = true

[fetch]
    prune = true

[url "git@github.com:"]
    insteadof = github:

[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-work

[gitflow "prefix"]
    versiontag = v

[alias]
    fi = flow init --defaults
    s = status
    staged = diff --staged
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
